/target
/result
/dist/
**/.build/
**/.swiftpm/
**/.DS_Store
.DS_Store

.idea

/packages/arch/*/pkg/
/packages/arch/*/src/
/packages/arch/*/*.pkg.tar.xz
/packages/arch/niri-cidre/niri-cidre/
/.local/state/cidre/
/.local/test-system/
/state/macos-bootstrap/
m1n1/

# Target Validation Logs & Output Staging
/logs/target-validation/*.log
/logs/image-build/*.log
/packages/out/*.pkg.tar.*
/work/
/out/*.tar
/out/*.tar.*
/out/*.img
/out/*.manifest
/out/
/installer/metadata/backups/*.json


