[Unit]
Description=Cidre Firstboot Root Setup
Documentation=file:/usr/share/doc/cidre/firstboot-oobe.md
After=basic.target
Wants=network-online.target
ConditionPathExists=!/var/lib/cidre/firstboot-root/completed
ConditionPathExists=!/var/lib/cidre/firstboot-root/skipped

[Service]
Type=oneshot
ExecStart=/usr/lib/cidre/cidre-firstboot-root --non-interactive
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
